/** Font-family */
:root {
  --vp-font-family-base: 'Poppins', 'Noto Sans TC', ui-sans-serif,
    system-ui, -apple-system, 'Segoe UI', Roboto, Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --vp-font-family-mono: 'Fira Mono', 'SF Mono', Menlo, Monaco,
    Consolas, monospace;
}

/* code block 樣式 */
.vp-doc [class*='language-'] code {
  word-break: break-word;
  overflow-wrap: break-word;
  text-wrap: pretty;
}

mark {
  background-color: #fff9c6;
}