/* Font-family */
:root {
  --vp-font-family-base: "Poppins", "Noto Sans TC", ui-sans-serif, system-ui,
    -apple-system, "Segoe UI", Roboto, Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --vp-font-family-mono: Menlo, "Fira Mono", "SF Mono", Menlo, Monaco, Consolas,
    monospace;
}

/* Root Color */
:root {
  --vp-c-white: #f6f6f6;
  --vp-c-black: #222222;

  --vp-c-blue-1: #348cb2;
  --vp-c-blue-2: #3a97cc;
  --vp-c-blue-3: #56a2cd;
  --vp-c-blue-soft: rgba(79, 167, 218, 0.14);
}

.dark {
  --vp-c-blue-1: #a8e5ff;
  --vp-c-blue-2: #5cade7;
  --vp-c-blue-3: #3e9add;
  --vp-c-blue-soft: rgba(79, 167, 218, 0.14);
}

/* code block 樣式 */
.vp-doc [class*="language-"] code {
  word-break: break-word;
  overflow-wrap: break-word;
  text-wrap: pretty;
  font-weight: 500;
}

.vp-doc .custom-block div[class*="language-"] code {
  word-break: break-word;
  overflow-wrap: break-word;
  text-wrap: pretty;
  font-weight: 500;
}

/* callout block 樣式 */
:root {
  --vp-custom-block-note-border: transparent;
  --vp-custom-block-note-text: var(--vp-c-text-1);
  --vp-custom-block-note-bg: var(--vp-c-blue-soft);
  --vp-custom-block-note-code-bg: var(--vp-c-blue-soft);
}

.custom-block-title {
  display: flex;
  align-items: center;
  &::before {
    font-family: "Material Icons Round";
    font-size: 1rem;
    vertical-align: middle;
    margin-right: 4px;
  }
}

.custom-block.note > .custom-block-title {
  &::before {
    content: "info";
  }
}

.custom-block.tip > .custom-block-title {
  &::before {
    content: "emoji_objects";
  }
}

.custom-block.warning > .custom-block-title {
  &::before {
    content: "notifications";
  }
}

/* Material Icons */
.material-icons-round.md-16 {
  font-size: 16px;
}
.material-icons-round.md-18 {
  font-size: 18px;
}
.material-icons-round.md-36 {
  font-size: 36px;
}

/* 其他客製化樣式 */
mark {
  background-color: var(--vp-c-yellow-soft);
}

.subtitle {
  font-size: 1.125rem;
  color: var(--vp-c-text-2);
}

.bolder {
  font-weight: 700;
  color: var(--vp-c-blue-2);
}

.medium-zoom-overlay {
  z-index: 100;
}

.medium-zoom-image {
  z-index: 101;
}
